.event-card-manager {
  position: fixed;
  inset: 0;
  z-index: 1000;
  transition: background-color 250ms ease;
  display: flex;
  justify-content: center;

  &.presenting {
    align-items: center;
    background-color: rgb(0 0 0 / 35%);
    pointer-events: auto;
  }

  &.docked {
    align-items: flex-end;
    background-color: transparent;

    .event-card {
      margin-bottom: -160px;
      transform: scale(0.8);
      transition:
        transform 250ms ease,
        margin-bottom 250ms ease;

      &:hover {
        margin-bottom: 16px;
        transform: scale(1);
      }
    }
  }
}
